<template>
  <div>

    <!-- Header Block -->
    <div class="header"> 
      <span class="title"><span class="title-okr">OKR</span> <span class="title-dashboard">Dashboard</span></span> 
      <div class="list-filter">
        <select class="filter-select" v-model="filter" > 
          <option value=""> Filter By Category </option>
          <option v-for="category in categories" :value="category" :key="category"> {{category}} </option>
        </select>
      </div>
      <div class="list-filter-info" v-show="filter != ''">
        Selected Category: 
        <span class="okr-category-tag">#{{filter}}
          <span @click="filter=''" class="filter-clear">clear</span>
        </span>
      </div>
    </div>

    <!-- Content Block -->
    <div class="content">
      <div v-if="isLoading"> Loading OKR List...</div>
      <!-- List of OKRs -->
      <template v-for="okr in applyFilter(okrs)">
        <okr-list-item :showOkrDetail="showOkrDetail" :okr="okr" :key="okr.id" :setFilter="setFilter" :filter="filter"></okr-list-item>
      </template>
      
      <!-- Poup for showing current OKR Details when clicked on an OKR -->
      <okr-detail v-if="selectedOkr != null" :okr="selectedOkr" :on-close="unselectOkr"></okr-detail>
    </div>

  </div>
</template>

<script>
import {fetchOKRs, nestChildOKRs, getCategories} from '../utils' 
import OkrListItem from './OkrListItem'
import OkrDetail from './OkrDetail'


export default {
  name: 'Listing',

  data() {
    return {
      okrs: [], // parent okr list
      categories: [], // all categories list for rendering filter
      filter: '', // category to filter by,
      selectedOkr: null, // opens modal when set
      isLoading: false // for showing loader
    }
  },

  mounted() {
    var self = this;
    self.isLoading = true;
    fetchOKRs().then(okrs => {
      self.isLoading = false;
      self.okrs = nestChildOKRs(okrs);
      self.categories = getCategories(self.okrs);
    })
  },

  methods: {
    applyFilter(okrs) {
      var self = this;
      if (!self.filter) { return okrs } // no need to loop if no filter is applied.
      
      let filteredOkrs = okrs.filter(okr => {
        let matchesCategory = okr.category === self.filter;
        if (matchesCategory) { return true }

        let childMatchesCategory = okr.children.filter(cokr => cokr.category === self.filter).length
        return childMatchesCategory;
      })

      return filteredOkrs;
      
    },

    setFilter(category) {
      this.filter = category;
    },

    unsetFilter() {
      this.filter = "";
    },

    showOkrDetail(okr) {
      this.selectedOkr = okr;
    },

    unselectOkr() {
      this.selectedOkr = null;
    }

  },

  components: {
    OkrListItem,
    OkrDetail
  }
}
</script>

<style scoped>

.header {
    /* background: #f9f9f9; */
    padding: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.content {
  margin: 20px;
}

.title {
  font-weight: bold;
  font-size: 1.4rem;
}

.title-okr {
  font-weight: 900;
}

.title-dashboard {
  font-weight: 500;
  color: #555;
}

.filter-select {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #999;
}

.filter-select:focus {
    outline: none !important;
}

.list-filter {
  display: inline-block;
  margin-left: 24px;
}

.list-filter-info {
    display: inline-block;
    margin-left: 24px;
    font-size: 0.8rem;
}

.okr-category-tag {
    font-size: 0.8rem;
    margin: 10px;
    background: #e4efff;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}

.okr-category-tag:hover {
  background: #87b6fc
}

.filter-clear {
  text-decoration: underline;
}

/* Modification rules for lower resolution screens */

@media screen and (max-width: 600px) {
    .list-filter {
        display: block;
        margin-left: 0px;
        margin-top: 10px;
    }

    .list-filter-info {
        display: block;
        margin-left: 0px;
        margin-top: 20px;
    }
}

</style>
