<template>
    <div class="modal">
        <div class="modal-content">
            <div> <span class="modal-title">OKR Information</span>
                <span @click="onClose" class="toggle-icon-container close-button"><font-awesome-icon class="toggle-icon" icon="times" /></span>
            </div>
            
            <div class="modal-body">
                <table>
                    <tr class="bg1">
                        <td>Title</td>
                        <td>{{okr.title}}</td>
                    </tr>
                    <tr class="bg2">
                        <td>Category</td>
                        <td>{{okr.category}}</td>
                    </tr>
                    <tr class="bg1">
                        <td>Metric Measured In</td>
                        <td>{{okr.metric_name}}</td>
                    </tr>
                    <tr class="bg2">
                        <td>Target</td>
                        <td>{{okr.metric_target || '100'}} {{okr.metric_name}}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</template>

<script>
export default {
    name: 'OkrDetail',

    props: {
        okr: Object,
        onClose: Function
    }
}
</script>

<style scoped>
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

.modal-title {
    font-weight: bold;
}

.close-button{
    float:right;
}

.toggle-icon {
    border: 1px solid #999;
    width: 10px;
    height: 10px;
    padding: 3px;
    border-radius: 9px;
}

.toggle-icon-container {
  margin-right: 10px;
  cursor: pointer;
}

table {
    margin: 20px;
    width: 90%;
}

td {
    padding: 10px;
}

.bg2 {
    background: #f9f9f9;
}

.bg1 {
    background: #e4efff;
}


@media screen and (max-width: 600px) {
    .modal-content {
        width: 90%; /* stretch modal if viewed on lower screen sizes */
    }
}

</style>
