<template>
    <div :id="okr.id" class="okr-component-container">
        <div class="okr-component">
            <span @click="isCollapsed = !isCollapsed" class="toggle-icon-container">
                <font-awesome-icon v-show="isCollapsed == true" class="toggle-icon" icon="angle-right" />
                <font-awesome-icon v-show="isCollapsed == false" class="toggle-icon" icon="angle-down" />
            </span>
            <span @click="showOkrDetail(okr)" class="okr-title">{{okr.title}}</span>
            <span class="okr-category-tag" @click="setFilter(okr.category)">#{{okr.category}}</span>
        </div>
        <transition name="slide">
            <div v-show="isCollapsed == false">
                <div class="okr-children-container" v-if="okr.children.length">
                    <div class="okr-component-container okr-component-container-inner" v-for="cokr in okr.children" :key="cokr.id" :id="cokr.id">
                        <div class="okr-component">
                        <span @click="showOkrDetail(cokr)" class="okr-title">{{cokr.title}}</span>
                        </div>
                    </div>
                </div>
                <div class="okr-children-container" v-else>
                    <div class="okr-component-container okr-component-container-inner">
                        <div class="okr-component">
                            <font-awesome-icon icon="info" /><span class="no-child-hint">No child objectives exists for this one</span>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>
<script>
export default {
    name: 'OkrListItem',

    props: {
        okr: Object,
        filter: String,
        setFilter: Function,
        showOkrDetail: Function
    },

    data() {
        return {
            isCollapsed: true
        }
    }
}
</script>

<style scoped>
.toggle-icon {
    border: 1px solid #999;
    width: 10px;
    height: 10px;
    padding: 3px;
    border-radius: 9px;
}

.toggle-icon-container {
  margin-right: 10px;
  cursor: pointer;
}

.no-child-hint {
    margin-left: 10px;
}

.okr-title {
  font-size: 1.1rem;
}

.okr-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.okr-component-container {
  margin-top: 15px;
}

.okr-children-container {
  margin-left: 50px;
}


.okr-category-tag {
    font-size: 0.8rem;
    margin: 10px;
    background: #e4efff;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}

.okr-category-tag:hover {
  background: #87b6fc
}


/* Transitions */

.slide-enter-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: ease-in;
   -webkit-transition-timing-function: ease-in;
   -o-transition-timing-function: ease-in;
   transition-timing-function: ease-in;
}

.slide-leave-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
   max-height: 500px;
   overflow: hidden;
}

.slide-enter, .slide-leave-to {
   overflow: hidden;
   max-height: 0;
}
</style>
