<template>
  <div id="app">
    <Listing/>
  </div>
</template>

<script>
import Listing from './components/Listing.vue'

export default {
  name: 'App',
  components: {
    Listing
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
